<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MqttClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.WindowsRuntime" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MqttClient.Properties.Settings>
      <setting name="MqttServer" serializeAs="String">
        <value />
      </setting>
      <setting name="MqttUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="MqttPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MqttTopic" serializeAs="String">
        <value />
      </setting>
      <setting name="MqttTimerInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ScreenshotEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenshotInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SensorBatteryEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MqttPort" serializeAs="String">
        <value>1883</value>
      </setting>
      <setting name="ApplicationMinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TTSSpeaker" serializeAs="String">
        <value />
      </setting>
      <setting name="SlideshowEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlideshowFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationRunAtStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SensorIsComputerUsedEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebCamPublishEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebCamPublishDestination" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdSuspendEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdRebootEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdShutdownEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdHibernateEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdTTSEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdToastEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdMonitorEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CmdProcessEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MqttDiscoveryEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MqttDiscoveryPrefix" serializeAs="String">
        <value>homeassistant</value>
      </setting>
      <setting name="WorkerVolumeControlEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MqttDiscoveryFriendlyName" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkerPerformanceInfoEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkerVolumeControlInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="WorkerPerformanceInfoInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="WorkerDiskInfoEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkerDiskInfoInterval" serializeAs="String">
        <value>10000</value>
      </setting>
    </MqttClient.Properties.Settings>
  </userSettings>
</configuration>
